#reusable-loader-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s ease;
            background: linear-gradient(
                217deg,
                rgba(255, 159, 237, 0.8),
                rgba(255, 0, 0, 0) 70.71%
            ),
            linear-gradient(127deg, rgba(118, 164, 255, 0.8), rgba(0, 255, 0, 0) 70.71%),
            linear-gradient(336deg, rgba(255, 191, 138, 0.8), rgba(0, 0, 255, 0) 70.71%);
        }

        #reusable-loader-overlay.active {
            opacity: 1;
            visibility: visible;
        }

        /* Main container for both SVG and text */
        .loader-content-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 600px;
            padding: 20px;
        }

        .hello__svg {
            width: 100%;
        }
        
        .hello__svg path {
            fill: none;
            stroke: #fff;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-width: 35px;
            stroke-dasharray: 5800;
            stroke-dashoffset: 5800;
            animation: anim__hello 4s ease-in-out forwards;
        }



        @keyframes anim__hello {
            to {
                stroke-dashoffset: 0;
            }
        }
